main {
	border: 3px solid blue;
	background-color: #f0f0f0;
	width: 800px;
	height: 280px;
	padding: 5px;
	position: relative;
}

h2 {
	color: blue;
	font-size: 16pt;
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
}

.yellow {
	background-color: yellow;
	float: left;
	width: 200px;
	padding: 10px;
	margin: 0px 10px 0px 0px;
}

.orange {
	position: absolute;
	top: 200px;
	left: 110px;
	background-color: orange;
}

.orangeRed {
	background-color: rgb(255, 80, 0);
	color: white;
	float: right;
	width: 200px;
	padding: 10px;
	margin: 20px 40px 0 0;
}
